<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>About</title>
</head>
<body>
<section id="about" class="about">
			<div class="container">
				<div class="row">
					<div class="about-content">
						<div class="col-md-2 col-sm-2 col-xs-12">
							<div class="section-title">
								<h2>About <span>Me</span></h2>
							</div>
						</div>
						<div class="col-md-6  col-sm-6 col-xs-12">
							<div class="single-about">
								<p class="bolt">мы рады приветствовать Вас на страничке нашего инстаграмм магазина".</p>
                                <p> "Какой-то приветственный текст..."<p>

								<div class="cv">
									<a href="#">download cv</a>
								</div>
								<div class="social">
									<ul>
										<li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram"></i></a></li>
										<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="image">
								<img src="img/about.jpg" alt="#">
								<a href="https://www.youtube.com/watch?v=45ETZ1xvHS0" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
</body>
</html>